.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ffce00;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ff7400;
}

p {
  font-size: 2rem;
  color: #181717;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}



}
